In [3]:
import pandas as pd

# Load movies and ratings datasets
movies = pd.read_csv('movie.csv')
ratings = pd.read_csv('rating.csv')

# Inspect the datasets
print(movies.head())
print(ratings.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [4]:
# Merge movies and ratings on the movieId
data = pd.merge(ratings, movies, on='movieId')
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,1996-12-25 15:26:09,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,1996-11-27 08:19:02,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,1996-06-23 20:36:14,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,1996-10-28 13:29:44,Jumanji (1995),Adventure|Children|Fantasy

In [5]:
data = data.drop('timestamp', axis=1)

Step 5: Build a Simple Popularity-Based Recommender
A basic recommender can suggest movies based on popularity (the number of ratings) or average rating. This doesn't consider user preferences.

In [6]:
# Calculate mean rating for each movie
movie_ratings = data.groupby('title')['rating'].mean()

# Count the number of ratings for each movie
movie_rating_count = data.groupby('title')['rating'].count()

# Combine into a DataFrame
popular_movies = pd.DataFrame({'mean_rating': movie_ratings, 'rating_count': movie_rating_count})

# Sort movies by their popularity (rating_count)
popular_movies = popular_movies.sort_values('rating_count', ascending=False)

# Display the top 10 movies
print(popular_movies.head(10))

                                           mean_rating  rating_count
title
Pulp Fiction (1994)                           4.174231         67310
Forrest Gump (1994)                           4.029000         66172
Shawshank Redemption, The (1994)              4.446990         63366
Silence of the Lambs, The (1991)              4.177057         63299
Jurassic Park (1993)                          3.664741         59715
Star Wars: Episode IV - A New Hope (1977)     4.190672         54502
Braveheart (1995)                             4.042534         53769
Terminator 2: Judgment Day (1991)             3.931954         52244
Matrix, The (1999)                            4.187186         51334
Schindler's List (1993)                       4.310175         50054